html {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  --base-font-family: -apple-system, BlinkMacSystemFont, 'Microsoft YaHei', 'PingFang SC',
    sans-serif;
  --number-button-size: 7.5vw;
  --number-button-border-radius: 1.8vw;
  font-family: var(--base-font-family);
}
